{% extends "base.html" %}
{% block title %}Kitoblar{% endblock title %}
{% block main %}
<main>


    <div class="category-area">
        <div class="container">
            {% if books == False %}
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-50">
                        <h2>Ushbu bo'lim uchun kitoblar topilmadi</h2>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-50">
                        <h2>Kitoblar</h2>
                        <p>Tanlang va yuklab oling</p>
                    </div>
                </div>
            </div>
            <div class="row">


                <div class="col-xl-9 col-lg-9 col-md-8 ">


                    <div class="new-arrival new-arrival3">
                        <div class="row">
                            {% for i in books %}
                            {% if i.category.slug == slug %}
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                    <div class="single-new-arrival mb-50 text-center">
                                        <div class="popular-img">
                                            <img src="{{i.rasm.url}}" alt>
                                        </div>
                                        <div class="popular-caption">
                                            <h3><a href="/book/{{slug}}/{{i.id}}">{{i.name}}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

</main>

{% endblock main %}