{% extends "base.html" %}
{% load static %}
{% block title %}
Reset password
{% endblock title %}

{% block main %}



<main class="login-bg">

    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="login-form">

                        <form method="POST">
                            {% csrf_token %}
                            <div class="login-heading">
                                <span>Parolni tiklash</span>
                                <p style="color: {{color}};">{{text}}</p>
                            </div>
    
                            <div class="input-box">
                                <div class="single-input-fields">
                                    <label>Yangi parolni kiriting</label>
                                    <input type="password" name="p1" value="{{ps1}}" placeholder="Yangi parolni kiriting" required >
                                </div>
                                <div class="single-input-fields">
                                    <label>Parolni qayta kiriting</label>
                                    <input type="password" name="p2" value="{{ps2}}" placeholder="Parolni qayta kiriting" required >
                                </div>
                            </div>

    
                            <div class="login-footer">
                                <input class="submit-btn3" type="submit" value="Ma'lumotlarni saqlash">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock  %}

